pandas
numpy
setuptools
black
pytest
requests
pillow
matplotlib
swatch
geopy
streamlit      
codecov
pylint
pre-commit
dataquilt --no-index --find-links file:https://github.com/H-A-Dye/DataQuilt/tree/9-implement-and-deploy-dataquilt-streamlit-app/dataquilt