pandas
numpy
setuptools
black
pytest
requests
pillow
matplotlib
swatch
geopy
streamlit      
codecov
pylint
pre-commit
-e git+https://github.com/H-A-Dye/DataQuilt.git@8d5c0c912c8487272190979962466ed415935c82#egg=dataquilt&subdirectory=dataquilt